@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure slides take full height of the container */
}

.slide-content {
    flex-grow: 1; /* Make sure the content takes up available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}